main{
    display: grid;
    grid-template-areas: 
    "input input"
    "input input";
    row-gap: 2em;
    margin-left: 20%;
}
input{
    width: 50%;
    height: 3rem;
    background-color: rgb(97, 37, 37);
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.537);
}
p{
    text-align: center;
    margin-top: 5rem;
    font-size: 200%;
    font-weight: bold;
}

div.q2{
    display: grid;
    grid-template-areas: 
    "input input"
    "input input";
    row-gap: 2em;
    margin-left: 20%;
    margin-top: 5rem;
}
input:hover{
    cursor: pointer;
    transition: 0.5s;
    background-color: rgb(255, 0, 0);

}